<ion-view view-title="{{'changePassword' | i18n}}">
    <ion-nav-bar class="bar-positive"></ion-nav-bar>
    <ion-content>
        <div class="list list-inset">
            <div class="item item-dark white-space-wrap " ng-show="passwordExpired">
                {{'passwordExpiered' | i18n}}
            </div>
            <label class="item item-input">
                <span class="input-label" data-i18n="oldPassword"></span>
                <input type="password" ng-model="passwords.oldPassword">
            </label>
            <label class="item item-input">
                <span class="input-label" data-i18n="newPassword"></span>
                <input type="password" ng-model="passwords.newPassword">
            </label>
            <label class="item item-input">
                <span class="input-label" data-i18n="confirmPassword"></span>
                <input type="password" ng-model="passwords.confirmPassword">
            </label>
        </div>
        <div class="padding">
            <button class="button button-block button-positive" ng-click="changePassword(passwords)" data-i18n="changePassword"></button>
        </div>
        <div class="padding">
            <span>
                {{message}}
            </span>
        </div>
        <div class="padding">
            <span>
                {{details}}
            </span>
        </div>
        <div class="padding" >
            <span>
                <a  href="#/app/home" class="button button-clear button-large button-dark button-icon button-block ion-home button-outline">
                    {{'continue' | i18n}}
                </a>
            </span>
        </div>
    </ion-content>
</ion-view>