<?xml version='1.0' encoding='utf-8'?>
<widget id="com.intelect.distribution" version="0.0.9" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>אינטלקט</name>
    <description>
        Intelect Distribution App 
    </description>
    <author email="support@Intelect.co.il" href="http://Intelect.co.il/">
      Intelect.co.il
    </author>
    <preference name="phonegap-version" value="cli-6.5.0" />
    <content src="index.html" />
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="*" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="BackupWebStorage" value="none" />
    <feature name="http://api.phonegap.com/1.0/camera" />
    <feature name="StatusBar">
        <param name="ios-package" onload="true" value="CDVStatusBar" />
    </feature>
    <feature name="Camera">
        <param name="ios-package" value="CDVCamera" />
    </feature>
    <feature name="Camera">
        <param name="android-package" value="org.apache.cordova.camera.CameraLauncher" />
    </feature>
    <feature name="CDVWKWebViewEngine">
        <param name="ios-package" value="CDVWKWebViewEngine" />
    </feature>
    <preference name="CordovaWebViewEngine" value="CDVWKWebViewEngine" />
    <!-- <plugin name="cordova-plugin-whitelist" spec="^1.2.1" />
    <plugin name="cordova-plugin-device" spec="^1.1.1" />
    <plugin name="cordova-plugin-statusbar" spec="^2.1.1" />
    <plugin name="cordova-plugin-geolocation" spec="^2.1.0" />
    <plugin name="cordova-plugin-network-information" spec="^1.2.0" />
    <plugin name="cordova-plugin-camera" spec="^2.4.1">
        <variable name="CAMERA_USAGE_DESCRIPTION" value="Allow app to use your camera" />
        <variable name="PHOTOLIBRARY_USAGE_DESCRIPTION" value="Allow app to access your photos" />
    </plugin>
    <plugin name="cordova-plugin-wkwebview-file-xhr" spec="^3.0.0" />
    <plugin name="cordova-plugin-ionic-webview" spec="5.0.0" />
    <plugin name="cordova-plugin-barcodescanner" spec="0.7.4" /> -->
    
</widget>